@charset "UTF-8";
/* CSS Document */
	
html{
	height:100%;
}

body{
	height:90%;
	width:100%;
}

div.tubes{
	border:thin;
	height:100%;
	width:100%;
}

div.timer{
	width:100%;
}

section[name^="tube"]{ 
	width:15%;
	height:50%;
	border:inset;
	float:left;
	margin:15px;
	bottom:0;
}

#selectedTube{
	border:dotted;
}

.ball{
	height:20%;
	width:70%;
	bottom:0px;
	margin:25px;
}

.purple{
	background:purple;
}
.yellow{
	background:yellow;
}
.green{
	background:green;
}
.red{
	background:red;
}

.selected{
	border:outset;
}



footer,header{
	height:10%;
	position:static;
}


h1{
	text-align:center;
	font-size:4em;
}

h6{
	text-align:center;
	font-size:2em;
}

progress{
	width:100%;
}